body{
    background-color: rgb(207, 1, 1);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.WorkBreak{
    height: 4em;
    border-radius: 20px;
    width: 20em;
    box-shadow: 5px 5px 15px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-weight: bolder;
}

a{
    font-size: 1.4em;
}

#cercle1{
    margin: auto;
    margin-top: 50px;
    border-radius: 70%;
    width: 35em;
    height: 35em;
    box-shadow: 5px 5px 15px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cercle2{
    border-radius: 70%;
    width: 30em;
    height: 30em;
    border: 20px solid lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

#icon {
    padding-top: 30px;
    padding-bottom: 20px;
}

#timer{
    font-size: 100px;
    font-weight: bold;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
}